<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../../assets/images/1.jpeg" alt="Architecture" width="1500" height="800">
</div>
<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Admin</h3>
  <p>Admin Portal helps Employees as well as Managers to manage their reports and provides a platform to apply for new courses
    or skills. The Admin generates different reports for employees and admins. Admin is allowed to add new courses make a
    report of employees previous records.
  </p>
</div>