<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hover Effect Style</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- Hover Effect Style : Demo - 5 -->
    <div class="container mt-40">
        <h3 class="text-center"><strong>EMPLOYEES</strong></h3>
        <div class="row mt-30">
            <div class="col-md-4 col-sm-6 mb-5" *ngFor="let report of reports">
                <div class="box5">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-1.jpg" alt="">
                    <ul class="icon">
                        <li><a routerLink="../empName/{{report.employeeId}}" class="fa fa-line-chart"></a></li>
                    </ul>
                    <div class="box-content">
                        <h3 class="title">{{report.employeeName}}</h3>
                        <span class="post">{{report.employeeId}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>